# Server Configuration
PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb+srv://tarak08:Tarak1920@cluster0.emlhzwh.mongodb.net/code_snippets?appName=Cluster0

# Google Gemini API Configuration
# Get your API key from: https://makersuite.google.com/app/apikey
GEMINI_API_KEY=AIzaSyApk2UtpWq8W9gHEL2YlRb7ldZDpbzFbvo